#!/bin/sh
export HUBOT_SLACK_TOKEN=
export HUBOT_SLACK_TEAM=
export HUBOT_SLACK_BOTNAME=sensor_bot
export HUBOT_SLACK_CHANNELMODE="blacklist"
export HUBOT_SLACK_CHANNELS=""
export HUBOT_SLACK_LINK_NAMES=1

while :
do
	./bin/hubot -a slack
	echo "restart..."
	sleep 5
done
